aiohttp
async-timeout
anyio
asgiref
asyncpg
attrs
beautifulsoup4
certifi
chardet
click
Django
Flask
gunicorn
h11
idna 
itsdangerous
Jinja2
MarkupSafe
multidict
numpy
psycopg2-binary
pytz 
requests 
sniffio
sqlparse
starlette
typing-extensions
urllib3
uvicorn
uvloop
websockets
Werkzeug
yarl
