<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}WEBSITE TITLE{% endblock %}</title>
    {# <link rel="stylesheet" href="http://localhost:5052/bootstrap/css/bootstrap.min.css"> #}
    <style>@import url("http://localhost:5052/bootstrap/css/bootstrap.min.css");</style>
  </head>
  <body>{% block content %}WEBSITE CONTENT{% endblock %}</body>
</html>
