@font-face {
  font-family: ArchitectsDaughter;
  src: url('/static/font/ArchitectsDaughter-Regular.ttf');
}

@font-face {
  font-family: CaskaydiaCove;
  src: url('/static/font/CaskaydiaCoveNerdFontMono-Regular.ttf');
}

* {
  box-sizing: border-box;
  font-family: ArchitectsDaughter, CaskaydiaCove, monospace;
}

.player {
  max-width: 512px;
}
.page-btn {
  font-size: 12pt;
}

.player-block {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;
}

.content-block {
  z-index: 5;
}

.current {
  background-color: red;
}

video {
  aspect-ratio: 16/9;
  padding: 0;
  margin: 0;
  width: 100%;
  outline: none;
}

.movie-box {
  aspect-ratio: 16/9;
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
}

.player-block .paginate {
  max-width: 350px;
  width: 100%;
}

.player-container {
  width: 100%;
  overflow: hidden;
}
